<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOMBRE DEL TRABAJO</title>
    <link rel="stylesheet" href="css/agregar.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:&display=swap" rel="stylesheet">
</head>
<body>
    <!--NAVEGADOR-->
    <nav>
        <div class="container">

        <div class="logo-name">
            <h2>Nombre del Trabajo</h2>
        </div>
    
    <ul>
        <li><a href="index.component.html">Inicio</a></li>
        <li><a href="agregar.component.html">Agregar</a></li>
        <li><a href="leer.html">Leer</a></li>
        <li><a href="actualizar.html">Actualizar</a></li>
        <li><a href="borrar.html">Borrar</a></li>
    </ul>

        </div><!--FINAL CONTAINER-->
    </nav>
    <!--END NAVEGADOR-->

    <!--TEXT PAGE-->
    <section class="main-text-page">
        <div class="container">
            <h2>Agregar Producto a Inventario</h2>
        </div>
    </section>
    <!--END TEXT PAGE-->
    
    <!--FORM-->
    <section class="main-form">
        <div class="container">
            <div class="input-field">
            
        <div class="box">
            <p>Código de Producto:</p>
            <input type="text" placeholder="Ingrese Código de Producto" id="product-name">
        </div>
            
        <div class="box">
            <p>Nombre:</p>
            <input type="text" placeholder="Ingrese Nombre de Producto" id="product-name">
        </div>
        <div class="box">
            <p>Descripción:</p>
            <textarea name="descripcion" placeholder="Ingrese Descripcion del Producto" cols="32" rows="4"></textarea>
        </div>
        <div class="box">
            <p>Distribuidor:</p>
            <input type="text" placeholder="Ingrese Distribuidor de Producto" id="product-name">
        <div class="box">
            <p>Almacén:</p>
            <input type="text" placeholder="Ingrese Almacén de Producto" id="product-name">
        </div>
        </div>
        <div class="main-button">
          <button class="button">Agregar</button><br>
            <input type="button" value="Cancelar"class="button">
        </div>
    </div>
    </section>
    <!--END FORM-->

</body>
</html>