<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOMBRE DEL TRABAJO</title>
    <link rel="stylesheet" href="css/index.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:&display=swap" rel="stylesheet">
</head>
<body>
    <!--NAVEGADOR-->
    <nav>
        <div class="container">

        <div class="logo-name">
            <h2>Nombre del Trabajo</h2>
        </div>
    
    <ul>
        <li><a href="index.component.html">Inicio</a></li>
        <li><a href="agregar.component.html">Agregar</a></li>
        <li><a href="leer.html">Leer</a></li>
        <li><a href="actualizar.html">Actualizar</a></li>
        <li><a href="borrar.html">Borrar</a></li>
    </ul>

        </div><!--FINAL CONTAINER-->
    </nav>
    <!--END NAVEGADOR-->

    <!--CENTRAL IMG-->
    <section class="main-central-img"></section>
    <!--FIN CENTRAL IMG-->

    <!--GROUP INFO-->
    <section class="main-group-info">
        <div class="container">
            <h2>Grupo #3</h2>
            <h3>Programación 2</h3>
        </div>
    </section>
    <!--END GROUP INFO-->

    <!--FOOTER-->
    <footer>
        <div class="container">
            <h3>Participantes:</h3>
            <p>2018-7213 - PONGAN SUS MATRICULAS</p>
        </div>
    </footer>
    <!--END FOOTER-->

</body>
</html>